@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Roboto:wght@400;500&display=swap");
:root {
  --primary-color: #081c15ff;
  --secondary-color: #40916cff;
  --accent1-color: #52b788ff;
  --accent2-color: #1b4332ff;
  --heading-font: "Inter Tight", sans-serif;
  --paragraph-font: "Roboto", sans-serif;
  --nav-background-color: #95d5b2ff;
  --nav-link-color: #081c15ff;
  --nav-hover-link-color: #2d6a4f;
  --nav-hover-background-color: #52b788ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  color: var(--primary-color);
}
body {
  font-family: var(--paragraph-font);
  font-weight: 400;
  color: var(--primary-color);
  max-width: 100vw;
}

header  nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: var(--nav-background-color);
  width: 38rem;
  border-radius: 0.5rem;
  }
header nav a:link {
  color: var(--nav-link-color);
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
}
header nav a:visited {
  color: var(--nav-link-color);
}
header nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.hero {
  position: relative;
  width: 100%;
}
.hero h1 {
  position: absolute;
  top: 5%;
  left: 35%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}
.hero > article {
  position: absolute;
  top: 20%;
  background-color: var(--accent1-color);
  height: 20%;
}

.hero > img {
  margin-top: 5%;
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

article img {
  width: 20%;
  height: 100%;
  float: right;
}

footer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 1rem auto;
  max-width: 1000px;
}
footer p{
  color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem;

}
footer img {
  width: 20px;
  height: 20px;
}
footer nav{
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: var(--nav-background-color);
  justify-content: space-evenly;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  
}

header {
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  margin: 1rem auto;
  align-items: center;
  max-width: 1000px;
  border-bottom: 1px solid var(--primary-color);
  gap: 10rem;

}
header img {
  width: 100%;
  height: auto;
}

.history {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 1000px;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
}

section h2 {
  text-align: center;
  margin: 1rem auto;
  color: var(--accent1-color);
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem; 
  background-color: var(--accent2-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.history img {
  width: 20rem;
  height: 10rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
}
.history-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .history-container p {
    color: #fff;
    background-color: var(--accent2-color);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 18rem;
  }
  .adventure-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
  }
  .adventure-img img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }