@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Roboto:wght@400;500&display=swap");
:root {
  --primary-color: #081c15ff;
  --secondary-color: #40916cff;
  --accent1-color: #52b788ff;
  --accent2-color: #1b4332ff;
  --heading-font: "Inter Tight", sans-serif;
  --paragraph-font: "Roboto", sans-serif;
  --nav-background-color: #95d5b2ff;
  --nav-link-color: #081c15ff;
  --nav-hover-link-color: #2d6a4f;
  --nav-hover-background-color: #52b788ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  color: var(--primary-color);
}
body {
  font-family: var(--paragraph-font);
  font-weight: 400;
  color: var(--primary-color);
  max-width: 100vw;
}
nav a:link {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.hero {
  position: relative;
  width: 100%;
}
.hero h1 {
  position: absolute;
  top: 5%;
  left: 35%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.hero article {
  position: absolute;
  top: 20%;
  background-color: var(--accent1-color);
  height: 20%;
}

.hero-img {
  margin-top: 5%;
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

article img {
  width: 20%;
  height: 100%;
  float: right;
}
footer img {
  width: 20px;
  height: 20px;
}
